/**/

/*header*/
    div.head-box{
        background-color : blue;
    }
    /*logo*/
    ul li.title{
    list-style-type : none;
    display : inline-block;
    float : left;

    }

    ul li.title a{
    border : 0px solid black;
    font-size : 36px;
    font-family : arial;
    padding-left : 13px;
    padding-top : 5px;
    margin : -3px;

    }

    ul li.title a img{
      margin : -15px;
    }

    .blue{
        color : navy;
         text-shadow : 1px 1px 1px black;
         word-spacing : 0px;
    }

    .white{
        color : white;
        text-shadow : 1px 1px 1px black;
        word-spacing : 0px;

    }

    .red{
        color : #CA0B0B;
         text-shadow : 1px 1px 1px black;
         word-spacing : 0px;
    }

    /*nav*/
    .menu-nav ul li.btn{
        list-style-type : none;
        display : inline-block;
        float : right;
        background-color : navy;
    }

    .menu-nav ul li.btn a{
        color : white;
        background-color : navy;
        padding : 10px;
        font-weight : bold;
        font-family : Arial;
        text-decoration : none;
        border : 3px solid navy;
        /*border-radius : 10px*/

    }


    .menu-nav ul li.btn:hover a{
        color : #CA0B0B;
        background-color : white;
    }

    #menu-right{
    border-top-right-radius : 10px;
    border-bottom-right-radius : 10px;
    }

    #menu-right-selected{
        border-top-right-radius : 10px;
        border-bottom-right-radius : 10px;
        color : #CA0B0B;
        background-color : white;
    }
    #menu-left{
        border-top-left-radius : 10px;
        border-bottom-left-radius : 10px;
    }
    #menu-left-selected{
        border-top-left-radius : 10px;
        border-bottom-left-radius : 10px;
        color : #CA0B0B;
        background-color : white;
    }

    #menu-sel{
        color : #CA0B0B;
        background-color : white;
       }


/*article*/*
.arm-logo{
    float : center;
}


h2{
    font-family : Arial;
}

article{
    font-family : Arial;

}
